body {
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right, rgb(131, 19, 43), rgb(29, 48, 65));
    
}
 
h1{
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
    font-size: 75px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
 
h2 {
    font-size: 45px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
 
.schedule {
    margin-bottom: 10px;
}
 
.schedule label {
    display: inline-block;
    width: 100px;
}
 
input[type="date"],
input[type="time"] {
    width: 150px;
}
 
button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
 
button#submitSchedule {
    background-color: #4CAF50;
    color: white;
    border: none;
}
 
button#submitSchedule:hover {
    background-color: #45a049;
}
 
button#addPreset,
button#editPreset {
    background-color: #008CBA;
    color: white;
    border: none;
}
 
button#addPreset:hover,
button#editPreset:hover {
    background-color: #007A8A;
}
 
select {
    padding: 10px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
button#removePreset {
    background-color: #ff3333;
    color: white;
    border: none;
    font-size: 14px;
    padding: 8px 16px;
}
.dhtData{
    margin-top: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
 
button.deleteButton {
    background-color: #ff3333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}
button#scheduleTap{
    color: white;
    background-color: #4CAF50;
    border: none;
}
body{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:white
}

.nav-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #333;
    width: 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.nav-link.active {
    background-color: #555;
}

.school-logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px; 
}

#content-container {
    margin-left: 220px;
}